
.d2{
    text-align: center;
}
.d1{
    
    /* position: absolute;   */
    /* left: 10px;   */
    margin-top: 10px;
    width: 100%;
    
}
table,table tr th, table tr td {
    border:1px solid #8f9699; 
}
table {
      text-align: center;
      border-collapse: collapse; padding:2px;
    }  
table thead{
    background-color:#48b1f7;  
    color:#255e95 ;
    font-weight: bold;
}
.b1{
    position: absolute; 
    right:5%;
}
.biaoti{
    margin-top: 20px;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 26px;
    font-weight: bold;
    border-bottom:1px dashed #CCCCCC;
    color: #255e95;
}
.t1{
    width:90%; min-height: 25px;
    line-height: 30px;
    margin-left: 5%;
}
.t2{
    width:60%; min-height: 25px;
    line-height: 30px;
    margin-left: 20%;
}
td{
    width: 60px;
}

