
.d1{
    /* background-color: yellow; */
    position: absolute;
    /* left:50px; */
    /* width: 910px; */
    height: 200px;
     width: 1918px;
    margin-top: 20px;
   
    
}
.p1{
    position: absolute; 
     left: 510px;  
     width: 200px; 
     height: 200px;
     margin-top: 20px;
}


